<configuration>
    <property name="LOG_HOME" value="/home/moshiur/Downloads/poc-project/logs"/>
    <property name="SERVER_LOG_FILE" value="${LOG_HOME}/user-service-server.log"/>
    <property name="REQUEST_LOG_FILE" value="${LOG_HOME}/user-service-requests.log"/>

    <appender name="SERVER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SERVER_LOG_FILE}</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/user-service-server-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="REQUEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${REQUEST_LOG_FILE}</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/user-service-requests-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <logger name="com.rms.userservice.controller" level="INFO" additivity="false">
        <appender-ref ref="REQUEST_FILE"/>
    </logger>
    <logger name="com.rms.userservice.service" level="INFO" additivity="false">
        <appender-ref ref="REQUEST_FILE"/>
    </logger>
    <logger name="com.rms.userservice.repository" level="INFO" additivity="false">
        <appender-ref ref="REQUEST_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="SERVER_FILE"/>
    </root>
</configuration>
